[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"
phantomjs = "*"
python-dateutil = "*"
argparse = "*"
nltk = "*"
scipy = "*"
sentence-transformers = "*"
numpy = "*"
pandas = "*"
pymystem3 = "*"
tqdm = "*"
jupyter = "*"
levenshtein = "*"
matplotlib = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.10"
